.lead__banner{
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .lead__banner {
        max-width: 928px;
    }
}

@media screen and (max-width: 930px) {
    .lead__banner {
        max-width: 100%;
    }
}