.places{
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    width: 80%;
    padding-top: 6.5%;
    padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .places {
        width: 90%;
    }
}

@media screen and (max-width: 425px) {
    .places {
        padding-bottom: 66px;
    }
}