.cover__container{
    background: #2A2C2F;
    opacity: 0.3;
    width: 100%;
    min-height: inherit;
    position: absolute;
    top: 0;
    left:0;
    transition: 2s;
}

.cover__container:hover{
    opacity: 0.8;
}