.lead__container{
    margin: 0 auto;
    box-sizing: content-box;
    padding-top: 64px;
}

@media screen and (max-width: 1024px) {
    .lead__container {
        padding-top: 56px;
    }
}

@media screen and (max-width: 425px) {
    .lead__container {
        padding-top: 40px;
    }
}