.footer{
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 92px 48px 24px;
    flex-wrap: wrap;
}

@media screen and (max-width:768px) {
    .footer{
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width:425px) {
    .footer{
        padding-top: 64px;
        padding-left: 16px;
    }
}