.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 48px;
    padding-bottom: 80px;
}

@media screen and (max-width:1024px) {
    .card{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 32px
    }
}

@media screen and (max-width:768px) {
    .card{
        column-gap: 28px;
        padding-bottom: 73px;
    }
}

@media screen and (max-width:425px) {
    .card{
        gap: 32px;
        padding-bottom: 53px;;
    }
}

.card:last-child{
    padding-bottom: 0;
}