.card__description-container{
    max-width: 484px;
}

@media screen and (max-width:1024px) {
    .card__description-container{
        max-width: 456px;
    }
}

@media screen and (max-width:768px) {
    .card__description-container{
        max-width: 352px;
    }
}

@media screen and (max-width:425px) {
    .card__description-container{
        max-width: max-content;
        padding: 0 16px;
    }
}